<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">  
<script src="/static/js/code.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<!------------------LIght BOx for Gallery--------------> 
<link rel="stylesheet" href="/static/css/lightbox.min.css">
<link rel="stylesheet" href="/static/css/reg.css">
<!------------------LIght BOx for Gallery-------------->
<title>Application-1</title>
</head>
<body>

<!-- <button id="open-dialog-button">AddPost</button> -->




    <!-------------------------------NAvigation Starts------------------>

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:#44a6df">
        <a href="/home/" class="navbar-brand"><img src="/static/img/base/logo.png" alt="logo" class="img-fluid" width="70px" height="90px"></a>
    
            <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span class="navbar-toggler-icon"></span></button>
    
    
            <div class="collapse navbar-collapse" id="responsive">
                <ul class="navbar-nav mr-auto text-capitalize">
                    <li class="nav-item">  <a href="/home/" class="nav-link active" onclick="redirectHome(event)">home</a></li>
                    <li class="nav-item"><a href="/home/profile/{{user.id}}"  class="nav-link">profile</a></li>
                    <li class="nav-item"><a href="/chat" data-toggle="modal" class="nav-link">chat</a></li>
                   
                    <li class="nav-item"><a href="#" class="nav-link d-md-none">growl</a></li>
                    <li class="nav-item"><a href="#" class="nav-link d-md-none">logout</a></li>
    
                </ul>
    
            {% load static %}
           
<style> .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .username {
    margin-right: 50px;
  }
  .like-amount{
    margin-top: 5px;
    margin-left: 10px;
  }
  .delete-comment-container {
    display: inline-block;
    margin-left: 10px;
}

.delete-button {
    background-color: transparent;
   
    padding: 0;
    
    color: red;
  
  
    margin-right: -5000px;
   
}
.capitalize {
  text-transform: capitalize;
}
  </style>
            
            
            <button type="button" id="openDialogButtonsearch" class="btn btn-outline-light">Пошук</button>

<dialog id="dialogsearch">
  <form method="GET" id="searchForm" action="{% url 'search' %}">
    <input type="text" name="query" id="search" placeholder="Search" class="form-control form-control-sm">
    <button type="submit" id="searchButton" class="btn btn-outline-info">Пошук</button>
  </form>

  <div id="searchResults">
    <h2 id="queryResult">{{ query }}</h2>
    {% if results %}
      <ul id="userList">
        {% for user in results %}
          <li>
            <a href="{% url 'profileuser' user.id %}">
                <div class="user-info">
                    <span class="username">{{ user.username }}</span>
                    {% if user.avatar %}
                      <img src="{{ user.avatar.url|cut:"network/" }}" class="rounded-circle" alt="{{ result_user.username }} Avatar" width="50px" height="50px">
                    {% else %}
                      <img src="{% static 'img/base/default_avatar.png' %}" alt="{{ result_user.username }} Avatar" width="50px" height="50px">
                    {% endif %}
                  </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p id="noResults">Немає результатів.</p>
    {% endif %}
  </div>
</dialog>


<script>
    $(document).ready(function() {
      const searchForm = document.getElementById('searchForm');
      const searchResults = $('#searchResults');
      const queryResult = $('#queryResult');
      const userList = $('#userList');
      const noResults = $('#noResults');
      const openDialogButton = document.getElementById('openDialogButtonsearch');
      const dialog = document.getElementById('dialogsearch');


  openDialogButton.addEventListener('click', () => {
    dialog.showModal();
  });

  dialog.addEventListener('click', (event) => {
    if (event.target === dialog) {
      dialog.close();
    }
  });
  
      searchForm.on('submit', function(event) {
        event.preventDefault();
  
        const query = $('#search').val();
  
        $.ajax({
          url: '/search',
          method: 'GET',
          data: { query: query },
          dataType: 'json',
          success: function(data) {
            queryResult.text(query);
            userList.empty();
  
            if (data.results.length > 0) {
              data.results.forEach(function(user) {
                const listItem = $('<li></li>');
                const link = $('<a></a>').attr('href', `/profileuser/${user.id}`).text(user.username);
                listItem.append(link);
                userList.append(listItem);
              });
  
              noResults.hide();
            } else {
              noResults.show();
            }
  
            searchResults.show();
          },
          error: function(error) {
            console.error('Помилка при отриманні результатів пошуку:', error);
          }
        });
      });
    });
  </script>
  



            



        </div>





    </nav>

    <!---------------------------------------------Ends navigation------------------------------>

    <!---------------------------MOdal Section  satrts------------------->

    <div class="modal fade" id="modalview">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">

            <div class="modal-content">


                


                <div class="modal-body">


                    <ul class="list-unstyled">


                     <a href="#" class="text-decoration-none">
                        <li class="media hover-media">
                           
                                <img src="img/avatar-dhg.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">

                                <div class="media-body text-dark">
                                        <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                                </div>

                        </li>
                    </a>
                    <hr class="my-3">


                    
                    <a href="#" class="text-decoration-none">
                            <li class="media hover-media">
                               
                                    <img src="img/avatar-fat.jpg" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
    
                                    <div class="media-body text-dark">
                                            <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
                                    </div>
    
                            </li>
                        </a>


                        <hr class="my-3">


                        <a href="#" class="text-decoration-none">
                            <li class="media hover-media">
                               
                                    <img src="img/avatar-mdo.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
    
                                    <div class="media-body text-dark">
                                            <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    
                                    </div>
    
                            </li>
                        </a>

                        <hr class="my-3">


                        <a href="#" class="text-decoration-none">
                                <li class="media hover-media">
                                   
                                       
        
                                        <div class="media-body text-dark">
                                                <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        
                                        </div>
        
                                </li>
                            </a>
                            <hr class="my-3">
        
        
                            
                            <a href="#" class="text-decoration-none">
                                    <li class="media hover-media">
                                       
                                            <img src="img/avatar-fat.jpg" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
            
                                            <div class="media-body text-dark">
                                                    <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
                                            </div>
            
                                    </li>
                                </a>
        
        
                                <hr class="my-3">
        
        
                                <a href="#" class="text-decoration-none">
                                    <li class="media hover-media">
                                       
                                            <img src="img/avatar-mdo.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
            
                                            <div class="media-body text-dark">
                                                    <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
                                            </div>
            
                                    </li>
                                </a>

                        
                                <hr class="my-3">
                                <a href="#" class="text-decoration-none">
                                        <li class="media hover-media">
                                           
                                                <img src="img/avatar-dhg.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                
                                                <div class="media-body text-dark">
                                                        <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                                        <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
                                                </div>
                
                                        </li>
                                    </a>
                                    <hr class="my-3">
                
                
                                    
                                    <a href="#" class="text-decoration-none">
                                            <li class="media hover-media">
                                               
                                                    <img src="img/avatar-fat.jpg" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                    
                                                    <div class="media-body text-dark">
                                                            <h6 class="media-header">Mark Otto and <strong> 3 others</strong></h6>
                                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                                                    </div>
                    
                                            </li>
                                        </a>
                
                
                                        <hr class="my-3">
                
                
                                        <a href="#" class="text-decoration-none">
                                            <li class="media hover-media">
                                               
                                                    <img src="img/avatar-mdo.png" alt="img" width="60px" height="60px" class="rounded-circle mr-3">
                    
                                                    <div class="media-body text-dark">
                                                            <h6 class="media-header">Archer andu and <strong> 5 others</strong></h6>
                                                            <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    
                                                    </div>
                    
                                            </li>
                                        </a>
    
    


                    </ul>



                    

                </div>
            </div>


        </div>


    </div>

    <!-------------------------------MOdal Ends---------------------------->



    <!-------------------------------------------Start Grids layout for lg-xl-3 columns and (xs-lg 1 columns)--------------------------------->


    <div class="container">
        <div class="row">


            <!--------------------------left columns  start-->

            <div class="col-12 col-lg-3">

                <div class="left-column">


                    <div class="card card-left1 mb-4" >
                        
                        <div class="card-body text-center ">
                          {% if user.avatar %}
                          <img src="{{ user.avatar.url|cut:"network/" }}" class="rounded-circle" alt="{{ result_user.username }} Avatar" width="50px" height="50px">
                        {% else %}
                          <img src="{% static 'img/base/default_avatar.png' %}" alt="{{ result_user.username }} Avatar" width="50px" height="50px">
                        {% endif %}
                            <ul class="list-unstyled nav justify-content-center">
                               <a href="#" class="text-dark text-decoration-none"> <li class="nav-item">Friends <br> <strong>{{ user_info.following.count }}</strong></li></a>
                               
                            </ul>

                        </div>




                    </div>


                    <div class="card shadow-sm card-left2 mb-4">

                        <div class="card-body">

                          <p class="mb-3 card-title">
                            <i class="fas fa-exclamation-circle"></i> Загальна інформація:<br>
                              
                              {{user_info.about}}
                              
                              
                            
                            </p>

                                <p class="card-text">
                                  <i class="fas fa-calendar-week mr-2"></i>Дата народження:<br>
                                  {{ user_info.date_of_birth}}
                                </p>
                                
                                <p class="card-text">
                                  <i class="fas fa-gamepad"></i> Хобі:</br>
                                  {{user_info.hobby}}
                                </p>
                                
                                <p class="card-text">
                                  <i class="far fa-building mr-2"></i>  Місце роботи:</br>
                                {{user_info.work}}
                                </p>
                                
                                <p class="card-text">
                                  <i class="fas fa-home mr-2"></i>Місто в якому проживає: </br>
                                  {{ user_info.city }}
                                </p>
                                


                        </div>
                     




                    </div>




                    <div class="card shadow-sm card-left3 mb-4">

                        <div class="card-body">
                    
                            

                            
                        
                            <div class="row">
                                <div class="col-6 p-1" >
                                    <button id="openDialogButton">Створити пост</button>
                                                            <div id="overlay"></div> <!-- Елемент для затемненого фону -->
                                                            <dialog id="myDialog">
                                                            <form method="POST" action="{% url 'addpost' %}" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <label for="id_title">Заголовок:</label>
                                                                <input type="text" name="title" id="id_title" required><br>

                                                                <label for="id_body">Тіло:</label>
                                                                <textarea name="body" id="id_body" style="height: 200px;" required></textarea><br>
                                                                <input  type="file" name="photo" id="photo" name="photo" >

                                                                <input type="submit" value="Створити пост" class="btn btn-outline-secondary">
                                                            </form>

                                                            <button id="closeDialogButton">
                                                                <img src="/static/img/base/cross.png" alt="Закрити">
                                                            </button>
                                                            </dialog>
                                <!-- <form method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button class="btn btn-secondary button">Create</button>
                                </form> -->
                                </div>


                               

                            </div>

                        </div>







                        </div>




                   

                    





                </div>





            </div>








 <!--------------------------Ends Left columns-->





 <!---------------------------------------Middle columns  start---------------->



            
            <div class="col-12 col-lg-6" >


                <div class="middle-column">


                    <div class="card" >


                        <div class="card-header bg-transparent">
                            <form class="form-inline">


                                <div class="input-group w-100">
                                 
                                 
                                                
                                        


                               




                        
                                
                               
                            </form>

                        </div>
                        {% for post in posts %}
                        {% if post.user.id == user_info.id %}
                          <h5>{{ post.user.username }}</h5>
                        {% else %}
                          <a href="/home/profileuser/{{ post.user.id }}">
                            <h5>{{ post.user.username }}</h5>
                          </a>
                        {% endif %} 
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.body }}</p>
                        <img src="/{{ post.photo|cut:"network/" }}" width="500px" >
                        <div class="like-container">
                          <a class="like" data-post-id="{{ post.id }}" data-url="/post/{{ post.id }}/toggle_like/">
                            {% if post.is_liked %}
                              <button class="btn btn-link p-0">
                                <img src="/static/img/base/like.png" width="50">
                              </button>
                            {% else %}
                              <button class="btn btn-link p-0">
                                <img src="/static/img/base/dislike.png" width="30">
                              </button>
                            {% endif %}
                          </a>
                          <h5 class="like-amount" id="like-count-{{ post.id }}">{{ post.like_set.count }}</h5>
                        </div>
                      
                        <div class="comments-container" id="comments-{{ post.id }}">
                          <hr>
                          {% for comment in post.comments.all %}
                              <div class="comment">
                                  <div class="comment-info">
                                      <h4 id="{{ comment.id }}" class="comment-user">
                                          {{ comment.user.username }}
                                          {% if comment.user == request.user %}
                                              <form method="post" action="delete_comment/{{ comment.id }}/" class="delete-form">
                                                  {% csrf_token %}
                                                  <button type="submit" class="delete-button">
                                                    <img src="/static/img/base/trash.png" width="25">
                                                  </button>
                                              </form>
                                          {% endif %}
                                      </h4>
                                  </div>
                                  <p class="comment-body">
                                      {{ comment.body }}
                                  </p>
                              </div>
                              <hr>
                          {% endfor %}
                      </div>
                      
                  
                      <form method="post" action="{% url 'add_comment' post.id %}" class="comment-form" data-post-id="{{ post.id }}">
                          {% csrf_token %}
                          <input type="text" name="text">
                          <button type="submit" class="add-comment-button" data-post-id="{{ post.id }}">Додати</button>
                      </form>
                  
                      <hr>
                  {% endfor %}
                  
                      

                      


                      
                          
                          
                          
                          
                        
                        
































<!------------------------Light BOx OPtions------------->



<!------------------------Light BOx OPtions------------->








</body>
</html>