#myDialog {
  /* Стилі для діалогового вікна */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  max-width: 600px;
  max-height: 500px;
  overflow: auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  display: none;
  font-family: "B612", sans-serif;
}
#closeDialogButton {
  position: absolute;
  top: 105px;
  right: 15px;
  background: none;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
}

#closeDialogButton img {
  width: 100%;
  height: 100%;
}
#myDialog input[type="text"],
#myDialog textarea {
  width: 100%;
  padding: 2px;
  margin-bottom: 10px;
}

#myDialog input[type="submit"] {
  display: block;
  margin: 0 auto;
  font-family: "B612", sans-serif;
}

#closeDialogButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
}

#overlay {
  /* Стилі для затемненого фону */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Затемнений фон */
  z-index: 9998;
  display: none; /* По замовчуванню прихований */
}

.delete-container {
  text-align: right;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.like-container {
  display: flex;
  align-items: center;
}

.like-button {
  order: 1;
  margin-right: 10px;
}

.like-amount {
  order: 2;
}

#logout{
  margin: 40px;
  padding: 30px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  margin-right: 10px;
}